@font-face {
  font-family: 'Karmatic-Arcade';
  src:  url('~@/assets/fonts/Karmatic-Arcade.ttf.woff') format('woff'),
  url('~@/assets/fonts/Karmatic-Arcade.ttf.svg#Karmatic-Arcade') format('svg'),
  url('~@/assets/fonts/Karmatic-Arcade.ttf.eot'),
  url('~@/assets/fonts/Karmatic-Arcade.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src:  url('~@/assets/fonts/PressStart2P-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
